<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= @profile['name'] %></h2>
                    <h4><%= @github_user.user.screen_name %></h4>
                    <p><strong>Bio: </strong> <%= @profile['bio'] %> </p>
                    <p><strong>Repo: </strong> <%= link_to "GitHub Repo", @profile['html_url'] %> </p>
                    <p><strong>Skills: </strong>
                        <span class="tags">html5</span>
                        <span class="tags">css3</span>
                        <span class="tags">jquery</span>
                        <span class="tags">bootstrap3</span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                  <img src=<%= @profile['avatar_url'] %> alt="" class="img-circle img-responsive">
                </div>
            </div>
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-3 emphasis">
                    <h2><strong> <%= @followers.count %> </strong></h2>
                    <p><small>Followers</small></p>
                </div>
                <div class="col-xs-12 col-sm-3 emphasis">
                    <h2><strong><%= @following.count %></strong></h2>
                    <p><small>Following</small></p>
                </div>
                <div class="col-xs-12 col-sm-3 emphasis">
                    <h2><strong><%= @repos.count %></strong></h2>
                    <p><small>Repos</small></p>
                </div>
                <div class="col-xs-12 col-sm-3 emphasis">
                    <h2><strong><%= @github_user.commits_count %></strong></h2>
                    <p><small>Commits To Date</small></p>
                </div>
            </div>
            <div >
              <%= button_to "View Dashboard", dashboard_index_path, method: :get, class: "btn btn-info btn-block" %>
            </div>
    	 </div>
		</div>
	</div>
